<section class="container products" id="sectionUser">
  
  {{#each resulProducts}}

    <div class="product__item">
      <div class="product__info">
        <span class="product__name">{{{name}}}</span>
        <p class="product__descrip">{{{descrip}}}</p>
      </div>
      <div
        class="stars"
        id="starsContainer{{{@index}}}"
        data-post="{{{id_product}}}"
        data-starsstatus="false"
      >
        <button type="button" class="star__btn"><img
            src="/img/svgIcons/starNone.svg"
            data-star="star"
            data-starcount="1"
            data-starstatus="false"
            alt=""
          /></button>
        <button type="button" class="star__btn"><img
            src="/img/svgIcons/starNone.svg"
            data-star="star"
            data-starcount="2"
            data-starstatus="false"
            alt=""
          /></button>
        <button type="button" class="star__btn"><img
            src="/img/svgIcons/starNone.svg"
            data-star="star"
            data-starcount="3"
            data-starstatus="false"
            alt=""
          /></button>
        <button type="button" class="star__btn"><img
            src="/img/svgIcons/starNone.svg"
            data-star="star"
            data-starcount="4"
           data-starstatus="false"
            alt=""
          /></button>
        <button type="button" class="star__btn"><img
            src="/img/svgIcons/starNone.svg"
            data-star="star"
            data-starcount="5"
            data-starstatus="false"
            alt=""
          /></button>
      </div>
      <div>
        <span>Puntuacion del Producto {{{rating}}}/5</span>
      </div>
    </div>
  {{/each}}
</section>
